{% extends "base_generic.html" %}

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto mt-5">
                    
                    {% for post in posts %}
                        <h2 class="mb-5">{{ post.title }}</h2>
                        <div class="description">
                            {{ post.text|safe }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endblock %}

    </body>
</html>