{% extends "base_generic.html" %}

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto mt-5">

                    <!--
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit">
                    </form>
                    -->
                    
                    {% for order in orders %}
                        <a href="/orders/{{ order.id }}"><h2 class="mb-5">{{ order.title }}</h2></a>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endblock %}

    </body>
</html>